@font-face {
    src: url('../assets/fonts/Montserrat-Regular.ttf');
    font-family: 'Regular_Montserrat';
}

@font-face {
    src: url('../assets/fonts/Montserrat-ExtraLight.ttf');
    font-family: 'Light_Montserrat';
}

@font-face {
    src: url('../assets/fonts/Montserrat-SemiBold.ttf');
    font-family: 'Bold_Montserrat';
}

html, body { 
    height: 100%; overflow: hidden; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    width: fit-content;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
}

.section-left-1{
    width: 12px;
    background-color: #f68787;
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;   
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
}

.section-right {
    display: flex;
    flex-direction: column;
    background-color: #f1eb9a;
    width: fit-content;
    padding-right: 10px;
    color: white;
    align-items: center;
}

.section-left {
    display: flex;
    width: 297px;
    justify-content: center;
    align-items: center;
}

.section-left img {
    width: 100%;
}

.section-right ul{
    list-style: none;
} 

.section-right h2 {
    text-align: center;
    font-family: 'Bold_Montserrat';
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
    width: fit-content;
    color: #f68742;
    padding: 10px 20px;
    border-radius: 10px;
}

.section-right li {
    display: flex;
    align-items: center;
    margin: 5px 0px 0px -30px;
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
    border-radius: 14px;
    padding: 3px 33px 3px 33px;
    background-color: transparent;
    font-family: 'Regular_Montserrat';
    letter-spacing: 2px;
    color: #f8a978;
}

.section-right img {
    padding: 10px;
    border-radius: 50%;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
    margin-right: 10px;
    width: 2vw;
    height: 4vh;
}