@font-face {
    src: url('../fonts/Montserrat-Regular.ttf');
    font-family: 'Regular_Montserrat';
}

@font-face {
    src: url('../fonts/Montserrat-ExtraLight.ttf');
    font-family: 'Light_Montserrat';
}

@font-face {
    src: url('../fonts/Montserrat-SemiBold.ttf');
    font-family: 'Bold_Montserrat';
}

.container {
    display: flex;
    /* border: 1px solid black; */
    bottom: 4px;
    width: fit-content;
    height: 12rem;
    /* box-shadow: 20px 0px 4px 3px red; */
    margin-left: 100px;
    border-bottom-right-radius: 7px;
}
.section-left-1{
    display: flex;
    width: 12px;
    background-color: red;
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
    
}

.section-right{
    display: flex;
    background-color: black;
    width: 257px;
    color: white;

}


.section-left{
    display: flex;
    background-color: white;
    width: 155px;
    align-items: center;
}

 ul{
     /* display: flex; */
    list-style: none;
    margin: 102px 0px 0px 0px;
    
} 

h1{
    align-items: center;
}

li{
    display: flex;
    align-items: center;
    margin: 5px 0px 0px -137px;
    border: 1px solid red;
    border-top-left-radius: 14px;
    padding: 3px 0px 0px 91px;
    background-color: red;
 
}





