
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #f1f1f1;
    font-family: monospace;
    font-size: 16px;
    position: relative;
}


header {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

}

/* Left section style  */
.left-section {
    flex: 2;
    background-color:#ffff;
    border-left: 1.5rem solid red;
    text-align: center;
}

.left-section img {
    height: 50%;
    width: 50%;
    object-fit: cover;
    display: inline-block;
}



/* Right section style */
.right-section {
    flex: 3;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
}

.primary-heading {
    position: relative;
}

.heading {
    color: #333;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);

}

.heading-main, .heading-sub {
    display: block;
    text-align: center;
}

.heading-main {
    padding:10px ;
    font-size: 1.5rem;
    font-weight: 800; 
    align-items: baseline;
    color: white;
    
}

.heading-sub {
    font-size: 0.5;
    font-weight: 400;
    color: white;
}
.contact-info{
    display: flex;
    text-align: left;
}
.fas{
    display: flex;
    text-align: center;
}

p{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    border-radius: 21px;
    margin: 4px 0px 0px -13px;
    padding-left: 22px;
    background-color: red;
    color: white;
}

    




/* .container{
    padding: 4rem;
    margin-left: 20px;
    background-color: #364f6b;
    box-shadow: 10px 10px 5px #aaaaaa;
}

#name {
    font-family: 'Bold_Montserrat', sans-serif;
    color: #43dde6;
    text-transform: uppercase;
    font-size: x-large;
    padding-left: 245px;
    margin-top: -52px;
    margin-bottom: 55px;
} */

